---
import BaseLayout from "../../layouts/BaseLayout.astro";

/**
 * This function generates the static paths for the tag pages.
 * Each object in the returned array represents a path that will be generated at build time.
 * The `params` object contains the dynamic segment of the URL, which in this case is the `tag` parameter.
 * The `params` property should match the dynamic segment defined in the file name (e.g., [tag].astro).
 * 
 * Any value not set will result in a 404 page, so make sure to include all values needed.  
 */
export async function getStaticPaths() {
  return [
    { params: { tag: "astro" } },
    { params: { tag: "successes" } },
    { params: { tag: "community" } },
    { params: { tag: "blogging" } },
    { params: { tag: "setbacks" } },
    { params: { tag: "learning in public" } },
  ];
}

const { tag } = Astro.params;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with "{tag}"</p>
</BaseLayout>
